#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	pip wheel --no-deps --no-build-isolation -w dist .

override_dh_auto_install:
	pip install --no-deps --root=debian/peertube2nostr-desktop --prefix=/usr dist/peertube2nostr-*.whl
